{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h2 class="text-center mb-3">Créer une nouvelle offre</h2>
        <form action="{{ path('account_offer_add') }}" method="POST" class="col-sm-12">
            <input type="hidden" name="submitted" value="1" />
            <div class="form-group">
                <input type="text" name="title" placeholder="Titre*" class="form-control text-center" \>
                {% if error.title is defined %}<span class="has-error">{{error.title}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="description" placeholder="Description*" class="form-control text-center" \>
                {% if error.description is defined %}<span class="has-error">{{error.description}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="quantity" placeholder="Quantité*" class="form-control text-center" \>
                {% if error.quantity is defined %}<span class="has-error">{{error.quantity}}{% endif %}
            </div>

            <div class="form-group">
                <select name="addressId" class="form-control">
                    <option class="text-center">Choisir une adresse*</option>
                    {% for address in addresses %}
                        <option class="text-center" value="{{ address.id }}">{{ address.name }}</option>
                    {% endfor %}
                </select>
                {% if error.addressIs is defined %}<span class="has-error">{{error.addressId}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="tags" placeholder="Tag (bois plastique palette ...)" class="form-control text-center" \>
            </label>

            <button type="submit" class="btn btn-primary btn-block mt-3">Valider</button>
            <a href="{{ path("account_detail") }}" class="btn btn-info btn-block">Annulé</a>
        </form>
    </section>
{% endblock %}
