{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h2 class="text-center mb-3">Ajouter une adresse</h2>
        <form action="{{ path('account_address_add') }}" method="POST" class="col-sm-12">
            <input type="hidden" name="submitted" value="1" />
            <div class="form-group">
                <input type="text" name="name" placeholder="Nom*" class="form-control text-center"\>
            {% if error.name is defined %}<span class="has-error">{{error.name}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="streetNumber" class="form-control text-center" placeholder="N° de rue"\>
                {% if error.streetNumber is defined %}<span class="has-error">{{error.streetNumber}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="street" class="form-control text-center" placeholder="Rue*"\>
                {% if error.street is defined %}<span class="has-error">{{error.street}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="addressComplement" class="form-control text-center" placeholder="Complément d'adresse"\>
                {% if error.addressComplement is defined %}<span class="has-error">{{error.addressComplement}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="zipcode" class="form-control text-center" placeholder="Code postal"\>
            {% if error.zipcode is defined %}<span class="has-error">{{error.zipcode}}{% endif %}
            </div>

            <div class="form-group">
                <input type="text" name="city" class="form-control text-center" placeholder="Ville*"\>
                {% if error.city is defined %}<span class="has-error">{{error.city}}{% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Valider</button>
            <a href="{{ path("account_detail") }}" class="btn btn-info btn-block">Annulé</a>
        </form>
    </section>
{% endblock %}
