<div class="header"></div>
<header>
    <nav class="navbar-expand-lg navbar-inner navbar-dark bg-white fixed-top" id="mainNav">
        <div class="navbar-header">
            <a class="float-left ml-3" href="{{ path('index') }}">
                <img src="{{ asset('build/logo.png') }}" width="100"/>
            </a>
            <a
                class="btn navbar navbar-toggler navbar-toggler-right mr-3 float-right"
                data-toggle="collapse"
                data-target="#navbarResponsive" 
                aria-controls="navbarResponsive" 
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </a>
        </div>
        <div>
            <form action={{ path('offer_search') }} methods="POST">
                <div class="form-group d-flex">
                    <input type="text" name="term" class="form-control" pattern=".{3,}" required title="3 caractères minimum" />
                    <button type="submit" class="btn search-header">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item col-xs-12">
                    <a class="nav-link" href="{{ path('index') }}">Acceuil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item col-xs-12">
                        <a class="nav-link" href="{{ path('dashboard') }}">Mon tableau de bord</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a class="nav-link" href="{{ path('account_detail') }}">Mon compte</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item col-xs-12">
                        <a class="nav-link" href="{{ path('login') }}">Connectez-vous</a>
                    </li>
                    <li class="nav-item col-xs-12">
                        <a class="nav-link" href="{{ path('register') }}">inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
