<div class="header"></div>
<nav class="navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <button 
        class="navbar-toggler navbar-toggler-right col-sm-12" 
        type="button" 
        data-toggle="collapse"
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        Menu <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item col-sm-12">
                <a class="nav-link text-center" href="{{ path('index') }}">Acceuil</a>
            </li>
            {% if app.user %}
                <li class="nav-item col-sm-12">
                    <a class="nav-link text-center" href="{{ path('logout') }}">Déconnexion</a>
                </li>
                <li class="nav-item col-sm-12">
                    <a class="nav-link text-center" href="{{ path('account_detail') }}">Mon compte</a>
                </li>
                <li class="nav-item col-sm-12">
                    <a class="nav-link text-center" href="{{ path('dashboard') }}">Mon tableau de bord</a>
                </li>

            {% else %}
                <li class="nav-item col-sm-12">
                    <a class="nav-link text-center" href="{{ path('login') }}">Connectez-vous</a>
                </li>
                <li class="nav-item col-sm-12">
                    <a class="nav-link text-center" href="{{ path('register') }}">inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
