<h3>mes adresses</h3>
<div id="accordion">
    {% for address in user.addresses %}
        <div class="card">
            <div class="card-header" id="{{ address.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapse_{{address.id}}" aria-expanded="false" aria-controls="collapse_{{address.id}}">
                        {{ address.name }}
                    </button>
                </h5>
            </div>

            <div id="collapse_{{address.id}}" class="collapse" aria-labelledby="{{ address.id }}" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        {{ address.streetNumber }} {{ address.street }}
                        {{ address.addressComplement }}
                        {{ address.zipcode }} - {{ address.city }}
                    </p>
                    <a class="btn btn-primary" href="{{ path('account_address_update', {'id': address.id}) }}">Modifier</a>
                    <a class="btn btn-info" href="{{ path('account_address_delete', {'id': address.id}) }}">supprimer</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

